# Imports

In [151]:
import re
import os
import pandas as pd
from pprint import pprint

import utility.utility as util
from utility.Extractor import PageNumberExtractor, PageTextExtractor
import utility.text_cleaning as tc
import utility.extractor_meta as em

# Progress Bars:
from tqdm import tqdm
from tqdm.notebook import tqdm_notebook
tqdm_notebook.pandas()

# Below import and instructions simply for display
from IPython.display import display, HTML, clear_output
display(HTML("<style>.container { width:100% !important; }</style>"))

# resets import once changes have been applied
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Paths

In [2]:
path_cwd = os.getcwd()
path_data = os.path.join(path_cwd, 'data')
path_raw_pdf = os.path.join(path_data, 'raw_pdf_files')
path_raw_txt = os.path.join(path_data, 'raw_text_files')
path_output = os.path.join(path_cwd, 'output')

## File paths

In [7]:
paths_pdf_files = {file.split('.')[0]: os.path.join(path_raw_pdf, file) for file in os.listdir(path_raw_pdf) if file != '.gitkeep'}
ids = list(paths_pdf_files.keys())

# Prepare Sections Anchors

In [51]:
section_anchors = {'notes': em._notes_sections, 'auditor': em._auditor_sections}

# Create Extractors

In [148]:
extractors = {k: Extractor(k, v, section_anchors, 0.5, False, False, True) for k, v in tqdm(paths_pdf_files.items())}

100%|███████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:00<00:00, 91.04it/s]

In [149]:
results = []
for id in tqdm(extractors):
    e = extractors[id]
    results.append(e.run())
result_df = pd.DataFrame(results)

100%|███████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:40<00:00,  2.40s/it]

In [150]:
result_df

,doc_id,notes,auditor
0,200018069,[],[11]
1,22032523,"[19, 51, 75, 82, 128]","[76, 77]"
2,60665866,"[157, 201]",[]
3,60784900,"[26, 27, 44, 45, 46, 47, 52, 53, 82]",[86]
4,60816306,"[34, 95, 96, 97, 98, 151, 152, 166]","[162, 163, 171]"
5,61029873,"[2, 4, 112, 191, 192]",[202]
6,61178281,"[24, 41, 51, 52]","[43, 44]"
7,61466756,[25],[20]
8,61635511,"[35, 253, 298, 306, 316, 426]",[308]
9,61681491,"[4, 99, 157, 167, 169]",[160]
10,62075442,"[40, 41, 107, 124, 125]","[29, 30, 110, 111, 112]"
11,62461170,"[51, 53, 54, 56, 59, 61, 62]",[43]
12,62609130,"[66, 67, 95, 96, 97, 98, 103, 121]","[81, 84]"
13,62912156,"[33, 39, 49]",[40]
14,63530197,"[114, 129, 130, 131, 132, 134, 135, 136, 137, ...","[116, 117, 119]"
15,63695491,"[17, 18, 51, 76]","[40, 64]"
16,64866413,"[47, 54, 70, 76]","[46, 49, 50, 69, 71, 72]"

# Extract Pages and prep text